<section>
    <header>
        Organizer: <strong>{{dateService.date | async | moment:'DD.MM.YYYY'}}</strong>
        <hr>
    </header>

    <main>
        <ul>
            <li class="task">
                <span>
              <strong>1</strong>
              ewwe
            </span>
                <button class="btn btn-primary">Remove</button>
            </li>
        </ul>
    </main>
    <footer>
        <form (ngSubmit)="submit()" [formGroup]="form">
            <input type="text" formControlName="title">
            <button [disabled]="form.invalid" class="btn btn-primary btn-block" type="submit">Add</button>
        </form>
    </footer>
</section>