/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #dc3545;
    --dark-color: #333333;
    --light-color: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    &:hover {
        color: #666;
    }
}

ul {
    list-style: none;
}

input {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    bottom: 1px solid #ccc;
    outline: none;
    margin-bottom: 0.5rem;
}

.container {
    min-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

table th {
    background-color: var(--light-color);
}

.btn {
    display: inline-block;
    background: var(--light-color);
    color: #333;
    padding: .4rem 1.3rem;
    font-size: 1rem;
    border: none;
    margin-right: 0.5rem;
    transition: opacity .2s;
    outline: none;
    &:disabled {
        background: var(--dark-color);
        color: #fff;
        cursor: not-allowed;
    }
    &:hover:not(::disabled) {
        opacity: 0.8;
    }
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.text-center {
    text-align: center;
}